* {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    outline: none;
    transition: all 0.5s;
}

::placeholder {
    color: #999999;
}

body {
    background: #222222;
}

div[id=setup-div] > input[type=text],
div[id=setup-div] > input[type=password] {
    background: #555555;
    width: 80%;
    height: 15%;
    border: #ffffff 1px solid;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 10px 1px #222222;
    text-align: center;
}

div[id=main-div] > input[type=text] {
    background: #555555;
    width: 80%;
    height: 10%;
    border: #ffffff 1px solid;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 10px 1px #222222;
    text-align: center;
}

div[id=setup-div] > input[type=text]:hover,
div[id=setup-div] > input[type=password]:hover,
div[id=setup-div] > input[type=text]:focus,
div[id=setup-div] > input[type=password]:focus,
div[id=main-div] > input[type=text]:hover,
div[id=main-div] > input[type=text]:focus {
    background: #777777;
    width: 85%;
}

input[type=file],
input[type=color] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555555;
    width: 80%;
    height: 10%;
    border: #ffffff 1px solid;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 10px 1px #222222;
    cursor: pointer;
}

label:hover {
    background: #777777;
    width: 85%;
}

div[id=setup-div] > button {
    background: #555555;
    width: 60%;
    height: 20%;
    border: #ffffff 1px solid;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 5px 5px 10px 1px #222222;
    cursor: pointer;
}

div[id=setup-div] > button:hover,
div[id=main-div] > button:hover {
    background: #777777;
    width: 65%;
}

div[id=main-div] > button {
    background: #555555;
    width: 60%;
    height: 10%;
    border: #ffffff 1px solid;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 5px 5px 10px 1px #222222;
    cursor: pointer;
}

.setup-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    border: #ffffff 2px solid;
    border-radius: 15px;
    width: 40%;
    height: 40%;
    box-shadow: 5px 5px 10px 1px #000000;
}

.main-div {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    border: #ffffff 2px solid;
    border-radius: 15px;
    width: 40%;
    height: 80%;
    box-shadow: 5px 5px 10px 1px #000000;
}